body {
    margin: 0;
    height: 100%;
    background-color: rgba(247, 246, 245, 0.938);
  }
  .header {
    padding: 15px 0;
    border-color: aliceblue;
  }
  .header-content {
    display: flex;
   padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    border-radius: 5mm;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
  }
  .logo-content-img {
    border: solid 0px #42515f;
  }
  .emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat",sans-serif;
    letter-spacing: 0px;
    color: #82a72c;
    text-transform: capitalize;
  }
  .emp-payroll {
    color: #42525f;
  }
  .payroll-main{
    display: flex;
    background-color: white;
    margin-top: 15px;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
    border-radius: 2mm;
    justify-content: left;
    padding-left: 20mm;
    padding-right: 20mm;
  }
  .form-head {
    color: #1a85dd;
    padding-top: 8mm;
    font-size:x-large;
    font-weight: bold;
    
  }
  .input{
    width: 13cm;
    height: 0.8cm;
    margin-left: 134px;
  }
  .checkbox{
    margin-left: 25px;
  }

  .check {
    margin-left: 40px;
  }
  
  .profile {
    margin-left: 29px;
  }
  
  .radio-button{
    margin-left: 72px;
  }
  .radio-butt{
    margin-left: 20px;
  }
  .text {
    margin-left: 0px;
  }
   .row-content {
     padding-left: 0;
   }
   .cancleButton{
    background-color: #e0e0e2;
    border-radius: 0.9mm;
    width: 2.5cm;
    height: 0.8cm;
   }
  .submitButton{
    margin-left: 300px;
    background-color: #e0e0e2;
    border-radius: 0.9mm;
    width: 2.5cm;
    height: 0.8cm;
  }
  .resetButton{
    margin-left: 10px;
    background-color: #e0e0e2;
    border-radius: 0.9mm;
    width: 2.5cm;
    height: 0.8cm;
  }
  .date{
    margin-left: 55px;
  }
  .format{
    margin-left: 20px;
  }
  
  .salary{
    margin-left: 83px; 
  }
  
  .area{
    margin-left: 123px;
    height: 80px;
    width: 12cm;
  }